# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
out/
dist-ssr
build/
backend/build/
backend/dist/
website/
*.local
dogfood-output/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.next/

*.lock
!bun.lock

__pycache__/
*.egg-info/

target/

# Database
/db/
*.db
*.db-journal

zynk
tsconfig.tsbuildinfo
